name: Build Android APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create constants.dart
        env:
          CONSTANTS_FILE: ${{ secrets.CONSTANTS_FILE_BASE64 }}
        run: |
          echo "$CONSTANTS_FILE" | base64 -d > lib/core/constants.dart

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.PLAY_STORE_UPLOAD_KEY }}
        run: |
          echo $ENCODED_STRING | base64 --decode > android/app/keystore.jks

      - name: Build APK
        env:
          KEYSTORE_PATH: keystore.jks
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: flutter build apk --release

      - name: Get Dependencies
        run: flutter pub get

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
